<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title> CEEINF - Noticias</title>
    <meta charset="utf-8"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="style.css"/>
  </head>
  <body>
        <nav> <h1> Últimas Noticias y Eventos</h1> </nav>
        <hr>
        <h1>Noticias de OAI</h1>
        <h6><a href="https://oai.usm.cl/noticias/">Ir a la página oficial</a></h6>
          <!--
          Aquí lo ideal sería hacer un for
            -->
           <li> <a href={{oai.links.0}}> {{oai.titles.0}} </a>
            <p> {{oai.dates.0}} </p>
          </li>

          <li> <a href={{oai.links.1}}> {{oai.titles.1}} </a>
            <p> {{oai.dates.1}} </p>
          </li>

          <li> <a href={{oai.links.2}}> {{oai.titles.2}} </a>
            <p> {{oai.dates.2}} </p>
          </li>

          <li> <a href={{oai.links.3}}> {{oai.titles.3}} </a>
            <p> {{oai.dates.3}} </p>
          </li>

          <li> <a href={{oai.links.4}}> {{oai.titles.4}} </a>
            <p> {{oai.dates.4}} </p>
          </li>

          <li> <a href={{oai.links.5}}> {{oai.titles.5}} </a>
            <p> {{oai.dates.5}} </p>
          </li>
              
        <h1>Noticias departamento de informática</h1>
        <h6><a href="https://www.inf.utfsm.cl/noticias">Ir a la página oficial</a></h6>
          <li> <a href={{info.links.0}}> {{info.titles.0}} </a>
            <p> {{info.dates.0}} </p>
          </li>

          <li> <a href={{info.links.1}}> {{info.titles.1}} </a>
            <p> {{info.dates.1}} </p>
          </li>

          <li> <a href={{info.links.2}}> {{info.titles.2}} </a>
            <p> {{info.dates.2}} </p>
          </li>

          <li> <a href={{info.links.3}}> {{info.titles.3}} </a>
            <p> {{info.dates.3}} </p>
          </li>

          <li> <a href={{info.links.4}}> {{info.titles.4}} </a>
            <p> {{info.dates.4}} </p>
          </li>

          <li> <a href={{info.links.5}}> {{info.titles.5}} </a>
            <p> {{info.dates.5}} </p>
          </li>

          <li> <a href={{info.links.6}}> {{info.titles.6}} </a>
            <p> {{info.dates.6}} </p>
          </li>

          <li> <a href={{info.links.7}}> {{info.titles.7}} </a>
            <p> {{info.dates.7}} </p>
          </li>

          <li> <a href={{info.links.8}}> {{info.titles.8}} </a>
            <p> {{info.dates.8}} </p>
          </li>

          <li> <a href={{info.links.9}}> {{info.titles.9}} </a>
            <p> {{info.dates.9}} </p>
          </li>

        <h1>Próximos eventos usm</h1>
        <h6><a href="https://eventos.usm.cl/eventos/?tem=3">Ir a la página oficial</a></h6>
          <li> <a href={{usm.links.0}}> {{usm.titles.0}} </a>
            <p> {{usm.dates.0}} </p>
          </li>

          <li> <a href={{usm.links.1}}> {{usm.titles.1}} </a>
            <p> {{usm.dates.1}} </p>
          </li>

          <li> <a href={{usm.links.2}}> {{usm.titles.2}} </a>
            <p> {{usm.dates.2}} </p>
          </li>

          <li> <a href={{usm.links.3}}> {{usm.titles.3}} </a>
            <p> {{usm.dates.3}} </p>
          </li>

          <li> <a href={{usm.links.4}}> {{usm.titles.4}} </a>
            <p> {{usm.dates.4}} </p>
          </li>

          <li> <a href={{usm.links.5}}> {{usm.titles.5}} </a>
            <p> {{usm.dates.5}} </p>
          </li>

          <li> <a href={{usm.links.6}}> {{usm.titles.6}} </a>
            <p> {{usm.dates.6}} </p>
          </li>

          <li> <a href={{usm.links.7}}> {{usm.titles.7}} </a>
            <p> {{usm.dates.7}} </p>
          </li>

  </body>
</html>
